*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styling */
 .navbar{
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
} 
.navbar h2{
  font-family: gill sans;
}
nav .container-fluid{
  display: flex;
  justify-content: space-around;
}
form{
  margin-right: 50px;
  flex-wrap: wrap;
  }
form input{
  width: 300px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid gray;
  margin-right: 5px;
  border-radius: 5px;
  
}
form input:focus{
  outline: none;
}
form select{
  width:200px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid gray;
}
form button{
  flex-wrap: wrap;
}
/* styling for carousal */
.carousel{
  margin-top: 50px;
}
.carousel .carousel-inner .carousel-item .d-block{
 height: 550px;
  object-fit: cover;
}

 /* styling for weather */
.weather-content{
  text-align: center;
  font-family: gill sans;
  padding: 20px;
}

 /* styling for NewsCard */
.card {
    width: 18rem;
    margin: 1rem;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
/* styling for the footer */
    footer {
        background-color: rgb(232, 227, 227);
        color: black;
        text-align: center;
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
    }
